table { border: solid medium; border-collapse: collapse;}
td {border: solid thin; }
th:first-child { font-style: italic; font-weight: normal;}
td:nth-child(2) { color: red;}
td:nth-child(4) { color: #0000BB;}
tr:nth-child(even) { background-color: green;}
tr:nth-child(odd) { background-color: #00FFFF;}
tr:first-child {background-color: white;}
div.outer-content {
    margin: 10px 10px 5px 10px; 
    background-color: pink; 
    width: 75vw;
    position: relative;
}
div.inner-content {
    color: #00FF00;
    margin: 12.5%;
    background-color: blue;
    width: 75%;
}

